// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #CFD8DC;
@light-gray: #7F898E;
@gray: #2F3D44;
@dark-gray: #29353B;
@very-dark-gray: #222D32;

@cyan: #18ffff;
@blue: #00bcd4;
@purple: #d831b0;
@green: #69f0ae;
@dark-red: #ff616f;
@red: #ff867f;
@orange: #ffab40;
@light-orange: #ffd740;

@accent: #00BCD4;
